<div class="container">
<h1><strong><%= @post.title %></strong></h1>
 
<p><%= simple_format @post.body %></p>
<% if @post.image.attached? %>
  <p><image src="<%=(url_for(@post.image))%>" class="img-fluid"></p>
<% end %>
<%= link_to 'Edit', edit_post_path(@post) %>
<% if current_user.admin? %>
  <p><%= link_to 'Back', posts_all_path %></p>
<% else %>
  <p><%= link_to 'Back', posts_path %></p>
<% end %>
</div>
